@font-face {
    font-family:"Fake Identify" ;
    src: url("fonts/FakeIdentify.ttf");
}
h1{
    color:green;
    letter-spacing:20px;
    word-spacing: 20px;
    font-family:"Fake Identify";
}

p{
    text-indent: 50px;
    text-align: center;
    writing-mode:horizontal-tb;
}
h2{
    text-decoration: overline;
}
h3{
    text-decoration: line-through;
}
h4{
    text-decoration: underline;
}
.myElement{
    color:blue !important;
}
#normalText{
    font-style:italic;
    font-weight:normal;
}
#italicText{
    font-style: italic;
}
#obliqueText{
    font-style: oblique;
    font-weight: 900px;
}
p{
    font-size:60px;
}
h2{
    font-size:40px;
}